/* @import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Palanquin:wght@100;200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Palanquin:wght@100;200;300;400;500;600;700&display=swap"); */

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    scroll-behavior: smooth;
}

/* #scroller::before {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 200px;
    height: 100%;
    background: linear-gradient(to left, rgba(255, 255, 255, 0%), rgba(0, 0, 0, 50%), rgba(0, 0, 0));
    content: " ";
} */

/* #scroller::after {
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    width: 200px;
    height: 100%;
    background: linear-gradient(to right, rgba(255, 255, 255, 0%), rgba(0, 0, 0, 50%), rgba(0, 0, 0));
    content: " ";
} */

#scrollText{
    animation: 20s autoScroll infinite linear;
    display: inline-block;
}

#scrollText span{
    margin: 0 28px;
}

@media screen and (max-width: 568px){
    #scrollText span{
        margin: 0 12px;
    }
}

@keyframes autoScroll {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}

.glass {
    background: rgba(0, 0, 0, 0.5);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.2);
}

::-webkit-scrollbar{
    display: none;
}